html
{
    min-height: 100%;
}

body
{
  font-family: 'Roboto', sans-serif;

  min-height: 100%;

  background: #ce8c21;
  background: -moz-linear-gradient(top, #ce8c21 0%, #f1da36 100%);
  background: -webkit-linear-gradient(top, #ce8c21 0%,#f1da36 100%);
  background: linear-gradient(to bottom, #ce8c21 0%,#f1da36 100%);
}

h1, h2, h3, button, .form-large
{
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
}

canvas
{
  border: thin solid #000;
}

.comic-text
{
    font-size: 100px;
    color: #f1eb25;
    text-shadow:-1px 1px #47bdbc,
                -2px 2px #47bdbc,
                -3px 3px #47bdbc,
                -4px 4px #47bdbc,
                -5px 5px #47bdbc,
                -6px 6px #47bdbc,
                -7px 7px #47bdbc,
                -8px 8px #47bdbc,
                -9px 9px #47bdbc,
                -10px 10px #47bdbc,
                -11px 11px #47bdbc,
                -12px 12px #47bdbc,
                -13px 13px #47bdbc,
                -14px 14px #47bdbc,
                -15px 15px #47bdbc;
  -webkit-text-stroke: 3px black;
}

.container
{
  min-height: 100%;
  overflow: hidden;
}


.content-box
{
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
    text-align: center;
}

.btn-primary
{
  background-color: #f1eb25;
  border-color: #f1eb25;
  color: #000;
  font-size: 30px;
  border-radius: 50px;
}

.btn-primary:hover
{
  background-color: #47bdbc;
  border: 2px solid #000;
  color: #fff;
  font-style: oblique;
  -webkit-text-stroke: 1px black;
}

.btn-large
{
  padding: 30px;
}

.form-large
{
  font-size: 40px;
  padding: 40px;
  margin: 10px 0 10px 0;
}

.game-container
{
    min-height: 100%;
}

.room-code
{
  text-transform: uppercase;
}

.overlay-tab {
	background-color: #eee;
	position: absolute;
	right: 5%;
  top: 0;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 2px #333;
	text-align: center;
  z-index: 100;
}

.countdown {
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 5em;
}

.specator-banner {
	text-align: center;
	height: 30px;
	background-color: #228617;
	color: #eee;
	width: 100%;
	position: absolute;
	left: 0;
  box-shadow: 0px 0px 10px #000;
}

.colour-picker {
	border-radius: 8px;
	padding: 8px;
	background-color: #f00;
	margin: 3px;
	width: 16px;
  border: thin solid transparent;
}
.colour-picker.selected {
  border: thin solid #fff;
}

.loading-text:after
{
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 2000ms infinite;
  animation: ellipsis steps(4,end) 2000ms infinite;
  content: "."; /* ascii code for the ellipsis character */
}

@keyframes ellipsis
{
  0% { content:  ".  "; }
  50% { content: ".. "; }
  70% { content: "..."; }
}

@-webkit-keyframes ellipsis
{
  0% { content:  ".  "; }
  50% { content: ".. "; }
  70% { content: "..."; }
}
