{% extends "layout.html" %}
{% block content %}

{% raw %}
<div id="game">
  <div v-if="gameInfo == undefined">
    <h1 style="margin-top:25%" class="loading-text">Loading</h1>
  </div>
  <div v-if="gameInfo != undefined">
    <div class="specator-banner" v-if="gameInfo.is_spectator">SPECTATOR</div>
    <div v-if="gameInfo.is_spectator" style="height:50px"></div>
    <div class="overlay-tab" v-if="gameInfo.is_host ">
      <p>Room Code</p>
      <h2 class="room-code">{{ gameInfo.game_id }}</h2>
    </div>

    <div class="game-content">
      <div v-if="waitingForPlayers">
          <h2>Waiting for other players</h2>
      </div>
      <div v-else-if="gameInfo.state == GameState.STARTING">
        <h2>Waiting for players to join</h2>
        <p>Visit www.comicgame.co.uk on your phone and enter the room code in the top right to join this game</p>

        <player-entry
          v-for="player in gameInfo.players"
          v-bind:player="player"
          v-bind:show_score="false"
          v-bind:key="player.id"></player-entry>

        <a v-if="gameInfo.is_host && gameInfo.players.length > 1" href="javascript:void(0);" onclick="StartGameClicked();"><button type="button" class="btn btn-primary btn-large">Start Game</button></a>
        <p v-if="gameInfo.is_host && gameInfo.players.length < 2">You need at least 2 players to start a game</p>
      </div>
      <div v-else-if="gameInfo.state == GameState.DRAWING">
        <div v-if="gameInfo.is_host || gameInfo.is_spectator">
          <h2>Use your phone to draw comic strip panels!</h2>
          <countdown-clock v-bind:end_time="gameInfo.round_end"></countdown-clock>

          <p>Example:</p>
        </div>
        <div v-else>
          <panel-creator></panel-creator>
        </div>
      </div>
      <div v-else-if="gameInfo.state == GameState.DISTRIBUTING">
        <h2>Great work!</h2>
        <p>Now let's see what you can make with those panels</p>
      </div>
      <div v-else-if="gameInfo.state == GameState.CREATING">
        <div v-if="gameInfo.is_host || gameInfo.is_spectator">
          <h2>Make some comics out of the panels on your screen!</h2>
          <p>We may have even added some extra panels!</p>
          <countdown-clock v-bind:end_time="gameInfo.round_end"></countdown-clock>
        </div>
        <div v-else>
          <h2>Select 3 panels and use them to make a comic:</h2>
          <strip-creator></strip-creator>
        </div>
      </div>
      <div v-else-if="gameInfo.state == GameState.GATHERING">
        <h2>Comics complete!</h2>
        <p>It's finally time to find out which of these comics is the best...</p>
      </div>
      <div v-else-if="gameInfo.state == GameState.RATING">
        <div v-if="gameInfo.is_host || gameInfo.is_spectator">
          <div v-if="voteInfo.complete">
            <h2>Winner!</h2>
            <img v-bind:src="winnerSrc" class="comicImage"/>
          </div>
          <div v-else>
            <h2>Vote now on your phone!</h2>
            <h3>Comic A:</h3>
            <img v-bind:src="comicASrc" class="comicImage"/>
            <h3>vs.</h3>
            <h3>Comic B</h3>
            <img v-bind:src="comicBSrc" class="comicImage"/>
          </div>
        </div>
        <div v-else>
          <div v-if="hasVoted">
              <h2>Vote submitted!</h2>
          </div>
          <div v-else-if="voteInfo != undefined">
            <h2>Pick your favorite comic</h2>

            <a href="javascript:void(0);" onclick="VoteFor(true);"><button type="button" class="btn btn-primary btn-large">Comic A</button></a>
            <a href="javascript:void(0);" onclick="VoteFor(false);"><button type="button" class="btn btn-primary btn-large">Comic B</button></a>
          </div>
        </div>
      </div>
      <div v-else-if="gameInfo.state == GameState.SCOREBOARD">
        <h2>Final Scores</h2>
        <player-entry
          v-for="player in gameInfo.players"
          v-bind:player="player"
          v-bind:show_score="true"
          v-bind:key="player.id"></player-entry>
          <a href="/"><button type="button" class="btn btn-primary btn-large">Home Page</button></a>
      </div>
    </div>

  </div>
</div>

{% endraw %}

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="static/scripts/game.js"></script>
{% endblock %}
