{% extends "layout.html" %}
{% block content %}
  <!-- title container -->
  <div style="text-align:center">
    <span style="font-style: oblique;font-size: 20px;">THE AMAZING</span>
    <h1 class="comic-text">COMIC GAME</h1>
  </div>

  <!-- main content -->
  <div class="content-box">
    <div class="row">
      <div class="col-sm-4">
        <h3>Create Panels</h3>
      </div>
      <div class="col-sm-4">
        <h3>Build Comics</h3>
      </div>
      <div class="col-sm-4">
        <h3>Challenge Friends</h3>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm-6 d-none d-sm-block">
        <p>Click this button on your TV or laptop to start a new game</p>
        <a href="javascript:void(0);" onclick="OnNewGameClicked();"><button type="button" class="btn btn-primary btn-large">Create New Game</button></a>
      </div>
      <div class="col-sm-6">
        <p>Enter the game code on your phone to join in</p>
        <input type="text" class="form-control form-large game-code" id="gameCode" placeholder="Game Code" maxlength="4">
        <input type="text" class="form-control form-large" id="playerName" placeholder="Player Name" style="text-transform:uppercase;" maxlength="24">
        <a href="javascript:void(0);" onclick="JoinExistingGameClicked();"><button type="button" class="btn btn-primary btn-large">Join Existing Game</button></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="static/scripts/index.js"></script>
{% endblock %}
